<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput cdkFocusInitial formControlName="title" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="{ task: form.value }" [disabled]="!form.valid">OK</button>
</div>